@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer base {
  input,
  textarea {
    -webkit-appearance: none;
    appearance: none;
  }
  input,
  select,
  textarea {
    background-color: #ffffff;
    color: #111827;
  }
  input:not([type="checkbox"]):not([type="radio"]),
  select,
  textarea {
    min-height: 2.25rem;
    padding: 0.5rem 0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: #d1d5db;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  select {
    -webkit-appearance: none;
    appearance: none;
    padding-right: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='%236b7280'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: 1.25rem;
  }
}
